@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --main-text-color: #d1e8e2;
  --background-color: #116466;
  --box-background-color: #2c3531;
  --rows-of-table: #b89575;
  --outline-of-boxes: #d9b08c; /*Replace light green*/
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  /* background: #1f1c2c;
  background: -webkit-linear-gradient(to right, #928dab, #1f1c2c);
  background: linear-gradient(to right, #928dab, #1f1c2c); */
  background-color: var(--background-color);
  overflow-x: hidden;
  min-height: 100vh;
}

nav {
  height: 100px;
  /* background: #1f1c2c;
  background: -webkit-linear-gradient(to right, #928dab, #1f1c2c);
  background: linear-gradient(to right, #928dab, #1f1c2c); */
  background-color: var(--background-color);
}

nav img {
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

nav .title {
  width: 400px;
  position: absolute;
  top: 40px;
  left: 10%;
  color: var(--main-text-color);
}

nav .header {
  float: right;
  margin-right: 25px;
}

nav .header li {
  display: inline-block;
  line-height: 120px;
  margin: 0px 10px;
  height: 100px;
}

nav .header li a {
  color: var(--main-text-color);
  font-size: 15px;
  text-transform: capitalize;
  position: relative; /*???*/
}

nav .header li a:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--outline-of-boxes);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.7s linear;
}

nav .header li a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--outline-of-boxes);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.7s linear;
}

nav .header li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

nav .header li a:hover:after {
  transform: scaleX(1);
  transform-origin: right;
}

nav .search {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--main-text-color);
  margin-top: 10px;
  line-height: 50px;
  margin-left: 1200px;
  color: var(--main-text-color);
  font-size: 20px;
  width: 300px;
  /* background-color: yellow; */
}

nav .search::placeholder {
  color: lightgrey;
  font-style: italic;
  outline: none;
  font-size: 13px;
}
nav .search:active {
  outline: none;
}
nav .search:focus {
  outline: none;
}
nav .searchBtn {
  border: none;
  background-color: transparent;
  color: var(--main-text-color);
  font-size: 20px;
}

label #btn,
label #cancel {
  color: var(--main-text-color);
  font-size: 15px;
  float: right;
  line-height: 120px;
  cursor: pointer;
  margin-right: 15px;
  display: none;
}

#check {
  display: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.tweet {
  border-radius: 3px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.9);
  width: 300px;
  background-color: var(--rows-of-table);
  margin: 16px;
  overflow: hidden;
  position: relative;
}

.tweet img {
  background-color: transparent;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  top: 0.5%;
  left: 50%;
  transform: translate(-50%, 0.5%);
}

.tweet h1,
.tweet h2,
.tweet h4 {
  margin-top: 70px;
  color: var(--main-text-color);
  text-align: center;
}

.tweet h1 {
  border-bottom: 2px solid var(--background-color);
  font-size: 25px;
}

.tweet h2 {
  font-size: 20px;
}

.tweet h4 {
  border-top: 2px solid var(--background-color);
  font-size: 15px;
}

@media (max-width: 2200px) {
  nav .search {
    margin-left: 600px;
    font-size: 15px;
    width: 100px;
  }

  nav .search::placeholder {
    font-size: 11px;
  }

  nav .searchBtn {
    font-size: 13px;
  }
}

@media (max-width: 1250px) {
  nav .search {
    margin-left: 450px;
    font-size: 12px;
    width: 100px;
  }

  nav .search::placeholder {
    font-size: 10px;
  }

  nav .searchBtn {
    font-size: 12px;
  }
}

@media (max-width: 1100px) {
  nav .search,
  nav .searchBtn {
    position: absolute;
  }
}

@media (max-width: 880px) {
  nav img {
    left: -1%;
    width: 100px;
  }
  nav .title {
    left: 15%;
    top: 40px;
    font-size: 13px;
  }
  nav .header li a {
    font-size: 10px;
  }
}

@media (max-width: 700px) {
  label #btn {
    display: block;
    font-size: 10px;
    line-height: 120px;
  }

  .header {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 95px;
    transform-origin: left;
    transform: scaleX(0);
    text-align: center;
    transition: transform 0.7s linear;
  }

  nav .header li {
    display: block;
    margin: 50px 0px;
    line-height: 30px;
  }

  nav .header li a {
    font-size: 30px;
  }

  #check:checked ~ .header {
    transform-origin: left;
    transform: scaleX(1);
    z-index: 100;
    background: #1f1c2c;
    background: -webkit-linear-gradient(to right, #928dab, #1f1c2c);
    background: linear-gradient(to right, #928dab, #1f1c2c);
  }

  #check:checked ~ label #btn {
    display: none;
  }
  #check:checked ~ label #cancel {
    display: block;
  }
  .tweet {
    width: 400px;
  }
  .tweet img {
    width: 50px;
    height: 50px;
  }
  .tweet h1 {
    font-size: 20px;
  }
  .tweet h2 {
    font-size: 15px;
  }
  .tweet h4 {
    font-size: 10px;
  }
}
